*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #f0f0f3;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a{
  color: rgb(61, 38, 7);
  font-size: xx-large;
}
p{
  padding: 15px;
}
.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  margin-top: 10px;
  background: #f1eded;
}
.fa-brands{
  font-size: xx-large;
}
button{
  border-radius: 5px;
  border: none;
}
.back-to-product{
  text-align: center;
  background-color: #f1eded;
}
.back-to-product button:hover{
  background-color: #dedfe4;
  cursor: pointer;
}